*{margin: 0;padding: 0;list-style-type: none;}
.dialog
{
    width: 500px;
    height: 300px;
    border:1px solid #000;
    margin: 100px auto;
    border-radius: 10px;
    z-index: 11;
    background:#fff;
    position:relative;
}
.dialog-title
{
    padding:2%;
    border-bottom:1px solid #000;
    position:relative;
}
.dialog-content
{
    padding:2%;
}
.spans
{
    position: absolute;
    right: 2%;
    line-height: -50%;
    cursor: pointer;
}
.mark
{
    background: rgba(0,0,0,0.5);
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.btn1,.btn2
{
    position:absolute;
    bottom: 17%;
    border:none;
    background:skyblue;
    width: 100px;
    height: 30px;
    color:#fff;
    border-radius:8px;
    outline: none;
    cursor: pointer;
}
.btn1
{
    left: 20%;
}
.btn2
{
    right:20%;
}